section.bucket {
	border-radius: 3px;
	box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
	// border-top: 5px solid $primary-color;
	max-width: 300px;
	padding: 10px;
	color: $font-color;
	h3 {
		font-weight: 400;
		font-size: 18px;
	}
	section.tasks {
		kb-task {
			margin-bottom: 10px;
			display: block;
			&:last-of-type {
				margin-bottom: 0;
			}
			&.dragging {
				pointer-events: none;
				border: 2px solid;
			}
		}
		&.dragging {
			// pointer-events: none;
			border: 2px solid;
		}
		.placeholderDiv {
			background: #ccc;
			border-radius: 2px;
			width: 100%;
			height: 0;
		}
	}
	section.add-task {
		padding: 20px;
		text-align: center;
		cursor: pointer;
	}
}
